<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Portfolio Time</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/projects">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Me</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container-fluid mt-0 mx-0 px-0">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://source.unsplash.com/1900x700/?code,computer" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-ihttps://tem">
                    <img src="https://source.unsplash.com/1900x700/?code,computer" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://source.unsplash.com/1900x700/?code,computer" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
    </div>

    <h1 class="text-center my-3 py-3">About Life</h1>

      <div class="container my-3">
       Hello it is I developer man. A developer man is an isolated individual that has not had human interaction in over a milleniue.
       Why have I not done so? It is simple, I was trying to grind leetcode!<br> Approach developers  very carefully in the wild, especially if they are 
       practing Dynamic Programming. They are violent and utilise thier smell to chase off predators. Either yell very loudly about getting a 150k per month salary 
       in FAANG because you "tried very hard!". This will disorient them and you can make a quick escape. Otherwise throwing a raspberry pi in the opposite direction also works
       as a distraction. 
      </div>
    
    



      
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</body>
</html>